@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #2e294e; 
    font-family: 'Zilla','Helvetica', sans-serif;;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#2e294e;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #bf5767;
    color:#78C0E0;
    display: flex;
    justify-content: space-around;
}
#hero-img{
    text-align: center;
    width: 100%;
}

footer {
    background-color: #2e294e;
    color:#78C0E0;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}   

footer a{
    color:#78C0E0;
    text-decoration: none;
}
footer a:hover{
    color:#78C0E0;
    text-decoration: underline;

}

footer .social img{
    padding-top: 15px;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height:725px;
    background-color: #2e294e;

}
.book:hover{
    background-color: #2e294e;
    color:#78C0E0;
} 

.book{
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #2e294e;
    color:#78C0E0;
}


nav a{
text-align: center;
color:#78C0E0;
text-decoration: none;
padding: 35px;
}

h1{
    text-align: center;
    background-color: #2e294e;

}

h4{
    text-align: center;
    background-color: #2e294e;
    color:#78C0E0;


}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

.home-title{
    color:#78C0E0;
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.msg h2{
    color:#78C0E0;
    font-family: 'Lato','Helvetica', sans-serif;;
    margin: 0;
}

.msg p{
    color:#78C0E0;
    font-size: 1.5em;
    padding: 15px;
}

.msg {
    background-color: #2e294e;
    line-height: 1.5em;
    padding: 35px;
  }

.icon{
    width: 80px;
    padding-top: 10px;
}

.rivers-card{
    margin: 200px 0;
} 

.camping-card{
    margin: 200px 0;
} 

.rapids-card{
    margin: 200px 0;
}


.card-img {
    border: 10px solid #BF5767;
}
main section img {
    box-sizing: border-box;
}