body{
    background-color: skyblue;
}

.white-text{
    color: white;
}

image{
    width: 10%;
}

.centered{
    text-align: center;
}

ol{
    text-align: left;
    /* background-color: white; */
    width: 400px;
    margin: 0 auto;
}

.big-text{
    font-size: 30px;
}

main{
    max-width: 600px;
    margin:0 auto;
}